.Bg{
    background-image: url(../Images/Shoe-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:10%;
}
.Bg h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    text-align: center;
    color:white;
}
.Bod{
    text-align: center;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    margin-top: 0;
    padding: 10px;
    background-color: rgba(6, 54, 6, 0.89);
}
.Bod2 h1{
    display:block;
}
.Collec-pic{
    display:flex;
    justify-content: center;
}
.Collec-pic img{
    width: 6.46in;
}
.Collec-Ti{
    color:white;
    position: absolute;
    display: flex;
    gap:4in;
    margin-bottom: 50px;
}
.Collec-Ti h1{
    background-color: black;
}
.Sales h1{
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:White;
    text-align: center;
    padding:10px;
    margin-top: 0;
    background-color:rgba(6, 54, 6, 0.89);
}


