.Bg{
    background-image: url(../Images/Shoe-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:10%;
}
.Bg h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    text-align: center;
    color:white;
}
.Bod{
    text-align: center;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    margin-top: 0;
    padding: 10px;
    background-color: rgba(6, 54, 6, 0.89);
}
.Collec-pic{
    display:flex;
    justify-content: center;
}
.Collec-pic img{
    width: 6.46in;
}
.H1{
    color:White;
    position: absolute;
    left:50px;
    background-color: black;
}
.H2{
    color:white;
    position: absolute;
    bottom:0;
    background-color: black;
}
.H3{
    color:white;
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: black;
}



